.header{
    color: white;
}

.back{
    background-size: 1500px;
    background-image:url(img2.jpg);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
  }

  .toggleSection{
      display: none;
      color: black;
      height: 100vh;
      width: 100%;
      background-color: white;
  }

  .img-tam{
    width: 50%;
    height: 400px;
  }